<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="root_benefits_for_employee" name="BenefitsPlus" sequence="9"/>

    <menuitem id="benefits_for_employee" parent="root_benefits_for_employee" action="action_benefits_dashboard" name="BenefitsPlus" sequence="8"/>
    <menuitem id="request_benefits_employee" parent="root_benefits_for_employee" action="action_request_benefits_employee" name="Request from employee" groups="benefits_plus.group_benefits_manage" sequence="8"/>
     <!-- Settings dropdown -->
    <menuitem id="benefits_settings_menu"
              parent="root_benefits_for_employee"
              name="Settings"
              sequence="50"
              groups="benefits_plus.group_benefits_manage"/>

    <!-- Подменю Settings -->
    <menuitem id="category_compensation"
              parent="benefits_settings_menu"
              action="action_category_compensation"
              name="Compensations"
              sequence="1"
              groups="benefits_plus.group_benefits_manage"/>

    <menuitem id="add_summ_benefits_employee"
              parent="benefits_settings_menu"
              action="action_add_benefits_employee"
              name="Monthly Additions"
              sequence="2"
              groups="benefits_plus.group_benefits_manage"/>

    <menuitem id="hr_benefits_for_employee" parent="hr.menu_hr_root" action="action_benefits_dashboard" name="Benefits" sequence="10"/>

</odoo>